#messages{
	min-height: 10px;
}
.clean-yellow{
	border:solid 1px #DEDEDE;
	background:#FFFFCC;
	color:#222222;
	padding:4px;
	text-align:center;
}
.clean-ok{
	border:solid 1px #349534;
	background:#C9FFCA;
	color:#008000;
	font-weight:bold;
	padding:4px;
	text-align:center;
}
.clean-error{
	border:solid 1px #CC0000;
	background:#F7CBCA;
	color:#CC0000;
	font-weight:bold;
	padding:4px;
	text-align:center;
}
.clean-error a{
	color: red;
	text-decoration:underline;
}
.box{
	float:left;
	width: 50%;
	padding: 0 0 1em 0;
}
.textfield{
	float:left;
	width: 7em;
}
.categories{
	width: 12em;
	float: left;
}
.cats{
	padding: .7em 1em;
	width: 8em;
	float: left;
}
.subcats{
	padding: .7em 1em;
	width: 12em;
	float: left;
}
#fields{
	border: solid 1px #3B5998;
	display: inline-block;
	padding: .5em 2em;
	margin-bottom: 1em;
}
#options_link{
	clear:both;
	padding: 2em 0 1em 0;
}
#options{
	width: 738px;
	min-height: 420px;
	position:absolute;
	z-index: 1;
	border: solid 1px #3B5998;
	background-color: white;
	left: 0;
	top: 0;
	padding: 9px 10px 10px;
}
.adv_opt{
	float: left;
	width: 334px;
	min-height: 84px;
	margin: .75em 5px;
	padding: 1em;
	border: solid 1px #E0E0E0;
}
#adv_sub_name{
	margin: .9em 0;
}
.adv_opt h3{
	margin-bottom: .5em;
}
#adv_update{
	padding-bottom: .5em;
}
#option_title{
	padding: 0.4em 1em;
}
.close{
	float: right;
}
.inputs{
	padding: .5em 0;
}
.bottom_box{
	clear: both;
	margin: 5px;
}
#subscribe{
	padding-top: 1.5em;
}


/* Dialogs */
.dialog{
	width: 550px;
	position:absolute;
	z-index: 2;
	border: solid 1px #3B5998;
	left: 105px;
	top: 100px;
}
.dialog_head{
	background-color: #6D84B4;
	padding: .5em 1em;
}
.dialog_head_text{
	color:#FFFFFF;
	font-weight:bold;
}
.dialog_body{
	background-color: white;
	padding: .5em 1em;
}
.dialog_button_area{
	background-color: #F2F2F2;
	padding: .8em;
	height: 20px;
}
.dialog_buttons{
	background-color: #3B5998;
	border-style:solid;
	border-width:1px;
	color:#FFFFFF;
	font-size:11px;
	padding:2px 15px 3px;
	text-align:center;
	float: right;
}



#subscription_table{
	width: 100%;
	margin: .5em 0 2em 0;
}
#subscription_table p{
	padding: 0;
	margin: 0;
}
.table_heading{
	font-weight: bold;
	line-height: 3em;
}
.subs_row{
	border-top: solid;
}
.name{
	width: 390px;
}
.name_error{
	width: 150px;
}
.tb_category{
	width: 75px;
}
.tb_subcategory{
	width: 95px;
}
.tb_group{
	width: 100px;
}
.tb_edit{
	width: 40px;
}
.edit{
	width: 50px;
}
.unsubscribe{
	width: 50px;
}
.error_logged{
	width: 400px;
}